.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #228b22;
  height: 50px;

  width: 100vw;
}
.navLink {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  width: 100px;
}
.navLink:hover {
  background: #ddd;
  color: black;
}

@media (max-width: 428px) {
  .navbar {
    height: 30px;

    width: 425px;
  }
}
